html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 20px;
  background-color: #ccc;
  overflow-x: hidden;
}

.navbar-brand {
  	font-size: 2em !important;
  	font-weight: 400 !important;
  	padding-left: 20px;
  	color: #fff !important;
  	text-transform: uppercase;	
}

.navbar li {
  padding: 0 20px;
}

.navbar li a {
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #fff !important;
  text-transform: uppercase !important;	
}

.bg-dark {
  background-color: rgba(0,0,0,1) !important;
  -webkit-transition: all 2s ease-in; 
  -moz-transition: all 2s ease-in; 
  -o-transition: all 2s ease-in; 
  transition: all 2s ease-in;    
}

.bar-transparent {
  background-color: rgba(0,0,0,0) !important;
  -webkit-transition: all 2s ease-out; 
  -moz-transition: all 2s ease-out; 
  -o-transition: all 2s ease-out; 
  transition: all 2s ease-out;    
}

#wrapper-content {
	margin: 0;
	padding: 0;
}

.section-container, .content-container, .footer-contrainer, .cards-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

#wrapper-content .content-container {
  position: relative;
  height: 100%;
}

#wrapper-content .bg-content {
  width: 100%;
  height: 100vh;
  background: url(/assets/images/image6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper-content  h1 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#wrapper-content .cards-gallery {
	background-color: #f5f5f5;
	padding: 120px 30px;
}

#wrapper-content .card {
	height: 450px !important;
}

#parallaxBar{
	width: 100%;
	height: 100%;
  	text-align: center;
}

#parallaxBar h1 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-inner .carousel-item  {
  	width: 100%;
  	height: 100vh;
}

.carousel-item .item-one {  	
  	background: url(/assets/images/image4.jpg);
  	background-repeat: no-repeat;
  	background-position: top center;
  	-webkit-background-attachment: fixed; 
  	-moz-background-attachment: fixed; 
  	-o-background-attachment: fixed; 
  	background-attachment: fixed; 
  	-webkit-background-size: cover !important;
  	-moz-background-size: cover !important;
  	-o-background-size: cover !important;
  	background-size: cover !important;
}

.carousel-item .item-two {
  	background: url(/assets/images/image2.jpg);
  	background-repeat: no-repeat;
  	background-position: top center;
  	-webkit-background-attachment: fixed; 
  	-moz-background-attachment: fixed; 
  	-o-background-attachment: fixed; 
  	background-attachment: fixed; 
  	-webkit-background-size: cover !important;
  	-moz-background-size: cover !important;
  	-o-background-size: cover !important;
  	background-size: cover !important;
}

.carousel-item .item-three {
  	background: url(/assets/images/image7.jpg);
  	background-repeat: no-repeat;
  	background-position: top center;
  	-webkit-background-attachment: fixed; 
  	-moz-background-attachment: fixed; 
  	-o-background-attachment: fixed; 
  	background-attachment: fixed; 
  	-webkit-background-size: cover !important;
  	-moz-background-size: cover !important;
  	-o-background-size: cover !important;
  	background-size: cover !important;
}

.carousel-inner .carousel-item h1 {
	color: white;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 60%;
	left: 0;
	right: 0;
  	z-index: 10;
}

.carousel-fade .carousel-item {
 	opacity: 0;
 	transition-duration: .6s;
 	transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 	opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 	transform: translateX(0);
 	transform: translate3d(0, 0, 0);
}

.footer-container {
  padding: 20px 0;
  color: #fff;
  background-color: #000;
}

.nav-icon {
  font-size: 52px;
}

.footer-container p {
	text-align: center;
}
