html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 20px;
  background-color: #ccc;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.navbar {
  margin: 0;
  padding: 0 20px;
}

.bg-dark {
  background-color: rgba(0,0,0,1) !important;
  -webkit-transition: all 2s ease-in; 
  -moz-transition: all 2s ease-in; 
  -o-transition: all 2s ease-in; 
  transition: all 2s ease-in;    
}

.bar-transparent {
  background-color: rgba(0,0,0,0) !important;
  -webkit-transition: all 2s ease-out; 
  -moz-transition: all 2s ease-out; 
  -o-transition: all 2s ease-out; 
  transition: all 2s ease-out;    
}

.navbar-brand {
  font-size: 2em !important;
  font-weight: 400 !important;
  padding-left: 20px
  color: #fff !important;
  text-transform: uppercase;	
}

.navbar li {
  padding: 0 20px;
}

.navbar li a {
  font-size: 1.2em !important;
  font-weight: 400 !important;
  color: #fff !important;
  text-transform: uppercase;	
}

.bg {
  width: 100%;
  height: 100vh;
  background: url(/assets/images/gestao.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wellcome h1 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-container, .content-container, .footer-contrainer {
  width: 100%;
  height: 100%;
  margin: 20px auto;
  text-align: center;
  background-color: #fff;
}

#wrapper-content .content-container {
  position: relative;
  height: 100%;
}

#wrapper-content .bg-content {
  width: 100%;
  height: 100vh;
  background: url(/assets/images/image6.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper-content  h1 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  clear: both;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#home {
  position: relative; 	
}

.carousel-inner .item {
  	height: 100%;
	background-image: url(../images/image4.jpg);
	background-position: top center;
	background-repeat: no-repeat;
    -webkit-background-attachment: fixed !important;
    -moz-background-attachment: fixed !important;
    -o-background-attachment: fixed !important;
    background-attachment: fixed !important;	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-inner .item:nth-child(2) {
	background-image: url(../images/image2.jpg);
}

.carousel-inner .item:nth-child(3) {
	background-image: url(../images/image3.jpg);
}

.carousel-inner .item h1 {
  color: white;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
}


.footer-container {
  padding: 20px 0;
  color: #fff;
  background-color: #000
}