html, body {
  	margin: 0;
  	padding: 0;
  	height: 100%;
}

body {
  	font-family: 'Roboto Condensed', sans-serif !important;
  	font-size: 20px;
  	background-color: #f5f5f5;
  	overflow-x: hidden;
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  /*border: 1px solid white;*/
}

#mainNav .navbar-brand {
  	font-size: 2em !important;
  	font-weight: 400 !important;
  	padding-left: 20px;
  	color: #fff !important;
  	text-transform: uppercase;	
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    /*border-bottom: none;*/
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
}

.bg-dark {
  	background-color: rgba(0,0,0,1) !important;
  	-webkit-transition: all 2s ease-in; 
  	-moz-transition: all 2s ease-in; 
  	-o-transition: all 2s ease-in; 
  	transition: all 2s ease-in;    
}

.bar-transparent {
  	background-color: rgba(0,0,0,0) !important;
  	-webkit-transition: all 2s ease-out; 
  	-moz-transition: all 2s ease-out; 
  	-o-transition: all 2s ease-out; 
  	transition: all 2s ease-out;    
}

/*
@media (min-width: 768px) {
  #wrapper-content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #wrapper-content {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #wrapper-content {
    width: 1170px;
  }
}

#wrapper-content {
	margin: 0;
	padding: 0;
}
*/
section {
	padding: 100px 0;
	font-size: 20px;
}

section h1.section-heading {
  	font-size: 2em;
	font-weight: 700;  
  	margin-top: 0;
  	margin-bottom: 15px;
}

section h2.section-heading {
  font-size: 1.8em;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.section-container, .content-container, .footer-contrainer, .cards-container {
  	width: 100%;
  	height: 100%;
  	margin: 0 auto;
  	text-align: center;
  	background-color: #f5f5f5;
}

section#faleconosco {
  	width: 100%;
  	height: 100%;
  	margin: 0 auto;
  	padding: 200px 0;
  	text-align: center;
  	background-color: #212529;
  	background-image: url("/assets/images/map-image.png");
  	background-repeat: no-repeat;
  	background-position: center;
}

section#faleconosco .section-heading {
  color: #fff;
}

section#quemsomos .section-heading {
	color: #000;
}

section#quemsomos .section-subheading {
	color: #000;
}

section#portfolio .content-container {
 	width: 100%;
  	height: 100%;
  	margin: 0 auto;
  	text-align: center;
  	background-color: #f5f5f5;
}	

section#portfolio .section-heading {
	margin: 20px 0;
	padding: 20px 0;
	color: #000;
	text-transform: uppercase;
}

.wrapper-content .content-container {
  	position: relative;
  	height: 100%;
}

.wrapper-content .bg-content {
  	width: 100%;
  	height: 100vh;
  	background: url(/assets/images/image6.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.wrapper-content  h1 {
  	font-size: 4em;
  	font-weight: 700;
  	color: #fff;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-moz-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	-o-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.wrapper-content .cards-gallery {
	background-color: #f5f5f5;
	padding: 120px 30px;
}

.wrapper-content .card {
	height: 450px !important;
}

.parallaxBar{
	width: 100%;
	height: 100%;
  	text-align: center;
}

.parallaxBar .wellcome {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-moz-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	-o-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.parallaxBar  h1 {
  	font-size: 4em;
  	font-weight: 700;
  	color: #fff;
  	text-align: center;
}

.carousel-inner .carousel-item  {
  	width: 100%;
  	height: 100vh;
}

.carousel-item {
  	background-attachment: fixed !important;
}

.item { 
  	background-image: url(/assets/images/image4.jpg);
  	background-repeat: no-repeat;
  	background-position: top center;
  	background-attachment: fixed !important; 
  	-webkit-background-size: cover !important;
  	-moz-background-size: cover !important;
  	-o-background-size: cover !important;
  	background-size: cover !important;
}

.item:nth-child(2) {
  	background-image: url(/assets/images/image2.jpg);
}

.item:nth-child(3) {
  	background-image: url(/assets/images/image7.jpg);
}

.carousel-inner .carousel-item h1 {
	color: white;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 60%;
	left: 0;
	right: 0;
  	z-index: 10;
}

/*
.carousel-fade .carousel-item {
	opacity: 0;
	transition: opacity .6s ease;
}

.carousel-fade .carousel-item.active {
	opacity: 1;
}
*/

.carousel.carousel-fade .carousel-item {
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}

.carousel.carousel-fade .carousel-control {
    z-index: 3;
}

.footer-container {
  	padding: 20px 0;
  	color: #fff;
  	background-color: #000;
}

.nav-icon {
  	font-size: 52px;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.footer-container p {
	text-align: center;
}

