html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-fluid {
	background-color: #000 !important;	
}

.container {
    margin-top: 20px;
    background-color: #ccc;
}

.navbar {
	margin: 0;
	padding: 0;
}