html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 20px;
  background-color: #ccc;
}

.container {
    margin-top: 20px;
    background-color: #ccc;
}

.navbar {
	margin: 0;
	padding: 10px 20px;
}

.navbar-dark {
    background-color: rgba(255,255,255,0.2) !important;
}

.navbar-brand {
	font-size: 2em !important;
	font-weight: 400 !important;
	padding-left: 20px
}

.navbar li a {
	font-size: 1.3em !important;
	font-weight: 400 !important;
	text-transform: uppercase;	
}

