html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 20px;
  background-color: #ccc;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.container {
    margin-top: 20px;
    background-color: #fff;
    height: 100%;
}

.main-menu {
	width: 100% !important;
}

.navbar {
	width: 90% !important;
	margin: 0 auto;
	padding: 0 20px;
}

.bg-dark {
    background-color: rgba(0,0,0,1) !important;
    -webkit-transition: all 2s ease; 
    -moz-transition: all 2s ease; 
    -o-transition: all 2s ease; 
    transition: all 2s ease;    
}

.bar-transparent {
    background-color: rgba(0,0,0,0) !important;
    -webkit-transition: all 2s ease; 
    -moz-transition: all 2s ease; 
    -o-transition: all 2s ease; 
    transition: all 2s ease;    
}

.navbar-brand {
	font-size: 2em !important;
	font-weight: 400 !important;
	padding-left: 20px
	color: #fff !important;
	text-transform: uppercase;	
}

.navbar li {
	paqdding: 0 20px;
}

.navbar li a {
	font-size: 1.2em !important;
	font-weight: 400 !important;
	color: #fff !important;
	text-transform: uppercase;	
}

.bg {
  width: 100%;
  height: 100vh;
  background: url(/assets/images/gestao.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wellcome h1 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}