@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.container {
    margin-top: 20px;
    background-color: #ccc;
}

.navbar {
	margin: 0;
	padding: 20 0;
}

.navbar-brand {
	font-size: 2em !important;
	font-weight: 400 !important;
}

.navbar-dark li a {
	font-size: 1.2em !important;
	font-weight: 400 !important;
}